.accordion-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 1220px;
    width: 100%;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.accordion {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accordion-item {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.accordion-header {
    background:linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 15px 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

.accordion-header:hover {
    color: #0ef;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background:linear-gradient(to right, #00093c, #2d0b00);
    color: whitesmok;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.accordion-content p {
    padding: 0 20px 20px 20px;
}

.icon {
    font-size: 18px;
    transition: transform 0.3s;
}

.icon.open {
    transform: rotate(45deg);
}

@media (min-width: 600px) {
    .accordion-content p {
        padding: 0 30px 30px 30px;
    }
}