/* .footer-item:hover{
		color: #0ef;
} */
.footer-link{
	color: #fff;
}
.footer-link:hover{
	color: #0ef;
	margin-left: 20px;
	text-decoration: underline;
}
.footer h5{
	color: #fff;
}
.footer h5:hover{
	color: #0ef;
	text-decoration: underline;
}
/* --------------------------------------------------------
2. 					Start slider CSS
-----------------------------------------------------------*/
.main_slider_area{
	font-family: "Playfair Display",serif;
	position: relative;
}


/* --------------------------------------------------------
 					end slider CSS
-----------------------------------------------------------*/


/* --------------------------------------------------------
3.					start Shoe booking area CSS
-----------------------------------------------------------*/
body#home_one .shoes_booking_area {
	left: calc( 50% - 585px );
	position: absolute;
	text-transform: uppercase;
	top: 0;
	z-index: 200;
}
body#home_two .shoes_booking_area{
	bottom: 2%;
}
.picker-container{
	display: none;
}
.shoe-border h6{
	color: #fff;
}
.shoe-border p{
	color: #fff;
}

.shoes_booking{
	background: #313a45 none repeat scroll 0 0;
	font-family: "Karla",sans-serif;
	min-height: 94px;
	padding: 26px 10px;
	position: relative;
}
.shoecart_book{
	border-right: 1px solid #475362;
	margin-right: 7%;
}
.shoecart_book h6{
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	font-family: "Karla",sans-serif;
}
.shoecart_book p{
	color: #fff;
	font-size: 30px;
	font-weight: 700;
	line-height: 25px;
	margin: 0;
	font-family: "Karla",sans-serif;
}
form#form1 .form-group {
  margin: 0;
}
.shoes_booking .input-group {
  width: 100%;
}
.shoes_booking  .input-group-addon, .shoes_booking_area input#datepicker, .shoes_booking_area input#datepicker1{
	background: transparent none repeat scroll 0 0;
	border: medium none;
	color: #aab8ca;
	outline: none;
}
.shoes_booking  .input-group-addon{
	padding: 0 0 0 10px;
}
.shoes_booking_area ::-webkit-input-placeholder { /* WebKit browsers */
    color: #aab8ca;
}
.shoes_booking_area ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #aab8ca;
    opacity:  1;
}
.shoes_booking_area input#datepicker, .shoes_booking_area input#datepicker1, .shoes_booking_area select#shoecart, .shoes_booking_area select#adult, .shoes_booking_area select#child, .shoes_booking_area select#bed {
	font-size: 13px;
	height: 37px;
	padding: 0;
	text-transform: uppercase;
	width: 100%;
}
.form-control:focus{
	box-shadow: none;
}
.shoes_booking_area select{
	/* -moz-appearance: none;
	-webkit-appearance: none; */
	background: transparent none repeat scroll 0 0;
	border: medium none;
	color: #aab8ca;
	outline: medium none;
	font-family: "Karla",sans-serif;
	padding-left: 8px;
}
.shoes_booking_area select > option{
	border: medium none;
	margin: 0;
	padding: 5px 5px 5px 15px;
}
.icon_arrow:after{
	content: '\f107';
	color: #aab8ca;
	font-family: "FontAwesome";
	font-size: 14px;
	line-height: 42px;
	position: absolute;
	right: 9%;
	top: -6%;
	z-index: 1;
}

/* --------------------------------------------------------
 					end Shoe booking area CSS
-----------------------------------------------------------*/


/* --------------------------------------------------------
4.					start special offer CSS
-----------------------------------------------------------*/

body#home_one .special_offer_main {
	height: 276px;
	position: absolute;
	right: 0;
	top: 100%;
	width: 223px;
	z-index: 11;
}
body#home_two .special_offer_main {
	height: 276px;
	position: absolute;
	right: calc(0% + 5.7%);
	top: 0;
	z-index: 100;
}

/* --------------------------------------------------------
 					end special offer CSS
-----------------------------------------------------------*/


/* --------------------------------------------------------
5.					start welcome area CSS
-----------------------------------------------------------*/

body#home_one .welcome .section_description {
	padding: 0 20% 43px;
	text-align: center;
  }
  body#home_one .welcome .section_description p{
	  font-size: 16px;
	  font-family: 'Karla', sans-serif;
  }
  body#home_one .welcome .shoecart_media, .accomodation_single_shoecart .shoecart_media, body#shoecart_detail_page .welcome .shoecart_media {
	margin-bottom: 28px;
	text-align: center;
  }
  body#home_one .single_shoecart_wrapper .uk-overlay, body#accomodation_page .single_shoecart_wrapper .uk-overlay {
	overflow: visible;
	-webkit-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
  }
  body#home_one .single_wrapper_details, body#accomodation_page .single_wrapper_details {
	  /* background: #f7c411 none repeat scroll 0 0; */
	  background: #181817 none repeat scroll 0 0;
	  height: 100%;
	  width: 100%;
	  -webkit-transition: 0.7s;
	  -o-transition: 0.7s;
	  transition: 0.7s;
	  /* -webkit-display: block; */
	  padding: 13px;
  }
  @media screen and (-webkit-min-device-pixel-ratio:0) {
	 body#home_one .single_wrapper_details, body#accomodation_page .single_wrapper_details {
	  display: none;
	}
  } 
  body#home_one .single_shoecart_wrapper .uk-overlay:hover .single_wrapper_details, body#accomodation_page .single_shoecart_wrapper .uk-overlay:hover .single_wrapper_details {
	  display: block;
	  -webkit-transition: 0.7s;
	  -o-transition: 0.7s;
	  transition: 0.7s;
  }
  body#home_one .single_shoecart_wrapper .uk-overlay:hover .left_shoecart_title a.btn, body#accomodation_page .single_shoecart_wrapper .uk-overlay:hover .left_shoecart_title a.btn{
	  background: #63c2ea none repeat scroll 0 0;
	  color: #fff;
  }
  body#home_one .single_wrapper_details .single_wrapper_details_pad, body#accomodation_page .single_wrapper_details .single_wrapper_details_pad{
	  height: 100%;
	  width: 100%;
  }
  body#home_one .single_wrapper_details h5, body#accomodation_page .single_wrapper_details h5 {
	/* color: #000; */
	color: #000000;
	font-size: 18px;
	font-family: "Lora",serif;
	text-transform: none;
  }
  body#home_one .single_wrapper_details p, body#accomodation_page .single_wrapper_details p{
	  /* color: #444; */
	  color: #fff;
	  font-size: 15px;
  }
  body#home_one .single_shoecart_wrapper, body#accomodation_page .single_shoecart_wrapper{
	overflow: hidden;
  }
  body#home_one .single_wrapper_details .single_shoecart_cost p, body#accomodation_page .single_wrapper_details .single_shoecart_cost p{
	  font-size: 18px;
	  margin-bottom: 0;
	  /* margin-top: 18px; */
	  margin-top: 5px;
	  font-family: "Lora",serif;
  }
  body#home_one .single_wrapper_details .single_shoecart_cost p span, body#accomodation_page .single_wrapper_details .single_shoecart_cost p span{
	  font-size: 11px;
  }
  body#home_one .single_wrapper_details .single_shoecart_cost .btn, body#accomodation_page .single_wrapper_details .single_shoecart_cost .btn {
	  border: none;
	  border-left: 1px solid #444;
	  border-top: 1px solid #444;
	  color: #444;
	  /* margin-bottom: -74px; */
	  /* margin-right: -23px; */
	  margin-right: -13px;
  }
  body#home_one .single_wrapper_details .single_shoecart_cost .btn:hover, body#accomodation_page .single_wrapper_details .single_shoecart_cost .btn:hover{
	  background: #444;
	  color: #fff;
  }
  
  body#home_one .welcome .shoecart_media a, .accomodation_single_shoecart .shoecart_media a {
	display: block;
  }
  body#home_one .welcome .left_shoecart_title > h6, .accomodation_single_shoecart .left_shoecart_title > h6 {
	font-family: "Lora",serif;
	font-size: 18px;
	text-transform: none;
  }
  body#home_one .welcome .left_shoecart_title > p, .accomodation_single_shoecart .left_shoecart_title > p {
	  font-family: "Lora",serif;
		font-size: 18px;
  }
  body#home_one .welcome .left_shoecart_title > p > span, .accomodation_single_shoecart .left_shoecart_title > p > span {
	  font-size: 11px;
  }
  
  /* --------------------------------------------------------
					   end welcome area CSS
  -----------------------------------------------------------*/
  
  
  /* --------------------------------------------------------
  6. 					start another facitilies area CSS
  -----------------------------------------------------------*/
  
  .another_facitilies_area{
	  text-align: center;
  }
  body#home_two .another_facitilies .single_facities a {
	display: block;
	margin-bottom: 12px;
  }
  body#home_two .another_facitilies .single_facities h6 {
	  margin-bottom: 30px;
	  font-size: 16px;
	  font-weight: 700;
	  color: #313a45;
  }
  body#home_two .another_facitilies .single_facities p{
	  margin: 0;
	  color: #666666;
	  line-height: 26px;
  }
  
  /* --------------------------------------------------------
					   end another facitilies area CSS
  -----------------------------------------------------------*/
  
  /* --------------------------------------------------------
  7. 					start Select Shoecart area CSS
  -----------------------------------------------------------*/
  
  body#home_two .select_shoecart_area{
	background: #f1f6f8;
  }
  body#home_two .select_shoecart .select_shoecart_content .shoecart_thumb, body#accomodation_page .select_shoecart .select_shoecart_content .shoecart_thumb {
	position: relative;
  }
  .shoecart_thumb.small_shoecart_thumb > a {
	display: inline-block;
	height: auto;
	max-width: 100%;
  }
  body#home_two .select_shoecart .shoecart_details, body#accomodation_page .select_shoecart .shoecart_details {
	  background: #fff none repeat scroll 0 0;
	  bottom: 5%;
	  left: 1%;
	  margin: 0 15px;
	  padding: 30px;
	  position: absolute;
	  width: 94%;
	  z-index: 99;
  }
  body#home_two .select_shoecart .small_shoecart_thumb .shoecart_details, body#accomodation_page .select_shoecart .small_shoecart_thumb .shoecart_details{
	  padding: 11px;
	  left: -1%;
  }
  body#home_two .select_shoecart .shoecart_thumb .about_shoecart, body#accomodation_page .select_shoecart .shoecart_thumb .about_shoecart{
	  margin-top: 10px;
  }
  body#home_two .select_shoecart .small_shoecart_thumb .about_shoecart, body#accomodation_page .select_shoecart .small_shoecart_thumb .about_shoecart {
	   margin-top: 10px;
  }
  body#home_two .select_shoecart .shoecart_quality, body#accomodation_page .select_shoecart .shoecart_quality{
	  padding-right: 18px;
	  border-right: 1px solid #d8d8d8;
  }
  body#home_two .select_shoecart .shoecart_quality > h5, body#accomodation_page .select_room .shoecart_quality > h5 {
	font-size: 21px;
	font-family: "Lora",serif;
	color: #444444;
  }
  body#home_two .select_shoecart .small_shoecart_thumb .shoecart_quality > h5, body#accomodation_page .select_shoecart .small_shoecart_thumb .shoecart_quality > h5 {
	font-size: 16px;
  }
  body#home_two .select_shoecart .shoecart_rent > p, body#accomodation_page .select_shoecart .shoecart_rent > p{
	  font-size: 18px;
	  font-family: "Lora",serif;
	  color: #131e2a;
	  margin: 0;
	  padding-left: 18px;
	  line-height: 20px;
  }
  body#home_two .select_shoecart .small_shoecart_thumb .shoecart_rent > p, body#accomodation_page .select_shoecart .small_shoecart_thumb .shoecart_rent > p{
	  font-size: 16px;
  }
  body#home_two .select_shoecart .shoecart_rent > p > span, body#accomodation_page .select_shoecart .shoecart_rent > p > span{
	  font-size: 11px;
	  color: #6c737a;
  }
  
  
  /* --------------------------------------------------------
					   end Select Shoecart area CSS
  -----------------------------------------------------------*/
  
  
  /* --------------------------------------------------------
  8. 					start Shoes Facilities area CSS
  -----------------------------------------------------------*/
  
  .shoes_facilities_area{
	background: url(img/shoe-facilities-bg.jpg) no-repeat fixed 0 0;
	background-size: cover;
	background-position: fixed;
}
.shoes_facilities {
  padding-bottom: 143px;
  padding-top: 123px;
  margin-left:0px;
}

.shoes_facilities .nav.nav-tabs {
  border: medium none;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  
}
/* .shoes_facilities .brand{
	margin-left: 150px;
	
}
.shoes_facilities_content .nav-tabs > .active {
	
	
} */
.shoes_facilities_content .nav-tabs > li > a {
	background: #eeefed none repeat scroll 0 0;
	border: medium none;
	border-radius: 0;
	height: 100px;
	width: 100px;
	/* height: 129px;
	width: 129px; */
	margin: 0 auto;
	text-transform: uppercase;
	padding: 10px 14px;
	background: #fff;
}
.shoes_facilities_content .nav.nav-tabs > li > a > img {
	display: block;
	margin: 12px auto 10px;	
}
body#home_one .nav-tabs > li.active > a, body#home_one .nav-tabs > li.active > a:focus, body#home_one .nav-tabs > li.active > a:hover, body#home_one  .nav-tabs > li.active > a > img{
	color: #58bee8;
	cursor: pointer;
	border: none;
}
.shoes_facilities_content .tab-content {
	background: #fff none repeat scroll 0 0;
	padding: 50px;
}
.shoes_facilities_content .single-tab-details > h6 {
	font-family: "Karla",sans-serif;
	margin-bottom: 14px;
	margin-top: 14px;
}
.shoes_facilities_content .single-tab-details > h3 {
	 margin-bottom: 27px;
}
.shoes_facilities_content .single-tab-details > p {
	line-height: 25px;
	margin-bottom: 20px;
	margin-top: 0;
}
.shoes_facilities_content .our_services {
  padding-top: 3px;
}
.shoes_facilities_content .our_services > a{
	color: #16b4ef;
	text-transform: uppercase;
}
  /* --------------------------------------------------------
					   end Shoes Facilities area CSS
  -----------------------------------------------------------*/

  /* --------------------------------------------------------
  9. 					start Section CSS
  -----------------------------------------------------------*/

  .bt__featured_collections-template--15175481655411__ddfa1b22-fa59-452d-9e4a-495623dfc1e9 {
	padding-top: 16px;
	padding-bottom: 16px;
  }

  .bt__featured_collections-template--15175481655411__ddfa1b22-fa59-452d-9e4a-495623dfc1e9 .bt__featured_collections_inner .bt__featured_collections_items_wrap {
	  display: -ms-grid;
	  display: grid;
	  -ms-grid-columns: minmax(0, 1fr) 10px minmax(0, 1fr);
	  grid-template-columns: repeat(2, minmax(0, 1fr));
	  gap: 10px;
  }

  .bt__featured_collections-template--15175481655411__ddfa1b22-fa59-452d-9e4a-495623dfc1e9 .bt__featured_collections_inner .bt__featured_collections_item {
	overflow: hidden;
  }

  .bt__featured_collections-template--15175481655411__ddfa1b22-fa59-452d-9e4a-495623dfc1e9 .bt__featured_collections_inner .bt__featured_collections_items_wrap img {
	width: 100%;
	height: auto;
	display: block;
	-webkit-transition: 0.8s;
	transition: 0.8s;
	-webkit-transform: scale(1);
	transform: scale(1);
  }

  .bt__featured_collections-template--15175481655411__ddfa1b22-fa59-452d-9e4a-495623dfc1e9 .bt__featured_collections_inner .bt__featured_collections_item:hover img {
	transform: scale(1.2);
  }

  @media (min-width: 768px) {
	  .bt__featured_collections-template--15175481655411__ddfa1b22-fa59-452d-9e4a-495623dfc1e9 {
		  padding-top: 24px;
		  padding-bottom: 24px;
	  }

	  .bt__featured_collections-template--15175481655411__ddfa1b22-fa59-452d-9e4a-495623dfc1e9 .bt__featured_collections_inner .bt__featured_collections_items_wrap {
		  -ms-grid-columns: minmax(0, 1fr) 16px minmax(0, 1fr) 16px minmax(0, 1fr);
		  grid-template-columns: repeat(3, minmax(0, 1fr));
		  gap: 16px;
	  }
  }

  /* --------------------------------------------------------
					   end Section CSS
  -----------------------------------------------------------*/



  

 
